.DS_Store
*.dSYM/
/Documents/
/Library/
/Packages/AlKybdFirmwareUpdate.pkg/
/Firmware/kbd_0x0069_0x0220.irrxfw
/Tools/CheckSum
/Tools/Codec
/Tools/FindKeys
/Tools/Upload
/Obsolete/HIDFirmwareUpdaterTool
/Obsolete/HIDFirmwareUpdaterTool.s
/Obsolete/HIDFirmwareUpdaterTool.hex.s
/Obsolete/HIDFirmwareUpdaterTool.xxd
/Obsolete/HIDFirmwareUpdaterTool.hacked
/Obsolete/HIDFirmwareUpdaterTool.hacked.s
/Obsolete/HIDFirmwareUpdaterTool.hacked.xxd
/Obsolete/HIDFirmwareUpdaterTool.hacked.tmp.xxd
/Tools/Patch
/Firmware/dvorak.hex
/Firmware/dvorak.irrxfw
/Keymaps/dvorak.keys
/Firmware/dvorak-win.hex
/Firmware/dvorak-win.irrxfw
/Keymaps/dvorak-win.keys
/Disassembly/kbd_0x0069_0x0220.asm
/Firmware/kbd_0x0069_0x0220.def.hex
/Firmware/kbd_0x0069_0x0220.def.irrxfw
/Keymaps/kbd_0x0069_0x0220.def.keys
/Firmware/kbd_0x0069_0x0220.hex
/Keymaps/kbd_0x0069_0x0220.keys
