HIDFirmwareUpdaterTool
kbd_0x0069_0x0220.irrxfw
CheckSum
Codec
Documents/
FindKeys
HIDFirmwareUpdaterTool.s
HIDFirmwareUpdaterTool.hex.s
HIDFirmwareUpdaterTool.hacked
HIDFirmwareUpdaterTool.hacked.s
HIDFirmwareUpdaterTool.hacked.xxd
Patch
dvorak.hex
dvorak.irrxfw
dvorak.keys
dvorak-win.hex
dvorak-win.irrxfw
kbd_0x0069_0x0220.asm
kbd_0x0069_0x0220.def.hex
kbd_0x0069_0x0220.def.irrxfw
kbd_0x0069_0x0220.def.keys
kbd_0x0069_0x0220.hex
kbd_0x0069_0x0220.keys
